<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <LinkTo @class="navbar-brand col-sm-3 col-md-2 mr-0" @route="index">
    <strong>
      NathaniOS
    </strong>
  </LinkTo>
  <Search />
  {{!
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#"></a>
    </li>
  </ul>
  }}
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <NavItem @icon="info" @label="About" @href="about" />
          <NavItem @icon="mail" @label="Contact" @href="contact" />
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>
            Leaderboards
          </span>
        </h6>
        <ul class="nav flex-column mb-2">
          <NavItem @icon="activity" @label="Top Active" @href="top-active" />
          <NavItem @icon="trending-up" @label="Top Rated" @href="top-rated" />
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>
            Resources
          </span>
        </h6>
        <ul class="nav flex-column mb-2">
          <NavItem @icon="shield" @label="Clans" @href="clans" />
          <NavItem @icon="layers" @label="Ladders" @href="ladders" />
          <NavItem @icon="users" @label="Profiles" @href="profiles" />
          <NavItem @icon="server" @label="Servers" @href="servers" />
          <NavItem @icon="settings" @label="System" @href="metrics" />
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>
            Administration
          </span>
          <a class="d-flex align-items-center text-muted" href="#">
            {{fe-icon "key"}}
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              {{fe-icon "lock"}}
              Login First!
            </a>
          </li>
        </ul>
      </div>
    </nav>

    {{outlet}}
  </div>
</div>
